.featuredClients {
  margin: 100px 0px;
}
.featuredClients h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #8a81db;
  margin-bottom: 50px;
}

.imageDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
}

@media only screen and (max-width: 576px) {
  .imageDiv {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .featuredClients h1 {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
