.headerWrapper {
  height: auto;
  padding-bottom: 500px;
  overflow: hidden;
  background-image: url("../public/images/hero_section/Mask\ group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
