.headerWrapper {
  height: 100vh;
  background-image: url("../public/images/hero_section/Mask\ group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog_container{
  margin-top: 30px;
}