.carousel_container{
    margin-top: 50px;
}


.slider_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.slider_buttons button {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #4F42C9;
    border-radius: 50%;
    margin-right: 30px;
    border: none;
    transition: all linear .2s;
}

.slider_button_left {
    width: 64px;
    height: 64px;
    left: 370px;
    top: 591px;
    background: #FFFFFF;
    border-radius: 500px;
    position:absolute;
}
.slider_button_right {
    width: 64px;
    height: 64px;
    left: 378px;
    top: 591px;
    background: #FFFFFF;
    border-radius: 500px;
    position:absolute;
    left:1220px;
}
