.photo_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 504px;
  margin: 20px;
  position: relative;
  transition: transform 0.2s;
  padding: 30px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px;
  gap: 10px;
  width: 176px;
  height: 48px;
  left: 331px;
  top: 656px;
  background: #4f42c9;
  border-radius: 50px;
  margin-bottom: 20px;
  z-index: 10;
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  color: #e3ecff;
  z-index: 10;
  transition: transform 0.2s;
  margin: 20px;
}

.title:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 45px;
  font-family: "Lato", sans-serif;
}

.date_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.calender {
  position: absolute;
  bottom: 5px !important;
}

/* Btns styles */

.slider_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.slider_buttons button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #4f42c9;
  border-radius: 50%;
  margin-right: 30px;
  border: none;
  transition: all linear 0.2s;
}

.slider_button_left {
  width: 64px;
  height: 64px;
  top: 200px;
  left: -131px;
  background: #ffffff;
  border-radius: 500px;
  position: absolute;
}

.slider_button_left:hover {
  background: #4f42c9;
}

.left_arrow {
  color: white;
}

.slider_button_right {
  width: 64px;
  height: 64px;
  /* top: 591px; */
  background: #ffffff;
  border-radius: 500px;
  position: absolute;
  top: 200px;
  right: -159px;
  z-index: 10;
}

.slider_button_right:hover {
  background: #4f42c9;
}

.right_arrow {
  color: white;
}

@media screen and (max-width: 768px) {
  .photo_container {
    padding: 20px;
  }

  .slider_buttons {
    display: none;
  }

  .desc {
    width: 100%;
    margin-left: 20px;
  }
}
