.comments {
  background: #e3ecff;
  padding: 58px 55px;
  margin: 50px 0px;
}
.comments h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-transform: capitalize;
  color: #101010;
  margin-top: 30px;
  margin-bottom: 20px;
}

.comments p {
  font-family: "Swiss 721", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  color: #101010;
}

@media only screen and (max-width: 576px) {
  .comments h1 {
    font-size: 20px;
  }
  .comments {
    padding: 20px 24px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .comments {
    padding: 30px 34px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
