.heroSecTextWrapper {
}

.heroSecTextWrapper h1 {
  font-size: 130px;
  font-weight: 800;
  background-image: url("../../../public/images/hero_section/Text\ bg.png");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: flliper 5s infinite;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heroSecTextWrapper p {
  font-family: "Swiss 721";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  max-width: 677px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.heroSecTextWrapper div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.btnDiscuss {
  padding: 18px 30px;
  gap: 10px;
  background: #4f42c9;
  border-radius: 50px;
  font-family: "Swiss 721";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin: 10px;
}

.btnAbout {
  margin: 10px;
  padding: 18px 30px;
  gap: 10px;
  background: #ffffff;
  border-radius: 50px;
  font-family: "Swiss 721";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-align: center;
  text-transform: capitalize;
  color: #4f42c9;
}

@keyframes flliper {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.trampWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tramp {
  width: 410px;
}

.leftImageWrapper,
.rightImageWrapper,
.middleImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftImageWrapper:hover,
.rightImageWrapper:hover,
.middleImageWrapper:hover {
  cursor: pointer;
}

.leftImageWrapper::before,
.rightImageWrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/images/hero_section/Ellipse_line_shape.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.rightImageWrapper::before {
  transform: rotate(115deg);
}

.middleImageWrapper {
  margin-top: 150px;
}

.leftImage,
.rightImage,
.middleImage {
  z-index: 1;
}

.flowImage {
  position: absolute;
  top: 98px;
}

.leftImageWrapper:hover .flowImage,
.rightImageWrapper:hover .flowImage,
.middleImageWrapper:hover:hover .flowImage {
  animation: flowDown 1s;
  top: 120px;
}

@media screen and (max-width: 768px) {
  .leftImage,
  .rightImage,
  .middleImage {
    width: 120px !important;
  }
  .tramp {
    width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .leftImage,
  .rightImage,
  .middleImage {
    width: 110px !important;
  }
  .tramp {
    width: 130px;
  }
}

@media screen and (max-width: 500px) {
  .leftImage,
  .rightImage,
  .middleImage {
    width: 90px !important;
  }
  .tramp {
    width: 110px;
  }
}

@media screen and (max-width: 400px) {
  .leftImage,
  .rightImage,
  .middleImage {
    width: 90px !important;
  }
  .tramp {
    width: 110px;
  }
}

/*  */
@keyframes flowDown {
  0% {
    top: 98px;
  }
  100% {
    top: 120px;
  }
}
