.aedikClothingHero {
  width: 956px;
  margin: 0 auto;
  padding: 100px 0px;
}

.aedikClothingHero h4 {
  font-family: "Swiss 721", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4f42c9;
}

.aedikClothingHero h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 50px;
}

.aedikClothingHero h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.aedikClothingHero p {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px;
  line-height: 170%;
  text-transform: capitalize;
  color: #e3ecff;
  opacity: 0.8;
  margin-bottom: 50px;
}

.videography {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 138px;
  margin-bottom: 30px;
}

.aedikClothingVideo {
  width: 100%;
}

.aedikEndImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .aedikClothingHero {
    padding: 50px 0px;
  }

  .aedikClothingHero {
    width: 100%;
  }

  .aedikEndImages {
    grid-template-columns: repeat(2, 1fr);
  }

  .aedikClothingHero h4 {
    font-size: 14px;
  }

  .aedikClothingHero h1 {
    font-size: 32px;
  }

  .aedikClothingHero h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aedikClothingHero {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .aedikClothingHero {
    width: 100%;
  }
}