.blogDetailsHero {
    padding: 100px 0px;
}

.blogHeaderText {
    width: 730px;
    margin: 0 auto !important;
    margin-bottom: 40px !important;
}

.blogHeaderText h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Swiss 721", sans-serif;
    text-align: left;
    color: #4F42C9;
    line-height: 32px;
    letter-spacing: 2px;
}

.blogHeaderText h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Jost";
    text-align: left;
    color: #FFFFFF;
    line-height: 58px;
    letter-spacing: -1%;
    text-transform: capitalize;
    margin-bottom: 15px;
}


.blogMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediaData {
    display: flex;
}

.blogMedia p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Swiss 721", sans-serif;
    text-align: left;
    color: #E3ECFF;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0px;
}

.mediaData i {
    margin-left: 60px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
}

.blogMedia .mediaButton button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E3ECFF;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .4s;
}

.mediaButton button a {
    text-decoration: none;
    transition: all linear .4s;
    color: #4F42C9;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.mediaButton button:hover {
    background-color: #4F42C9 !important;

}

.mediaButton button a:hover {
    color: #FFFFFF !important;
}


.DetailsText {
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
}


.DetailsText p {
    text-align: left !important;
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
    color: #E3ECFF !important;
    font-family: "Swiss 721", sans-serif;
}



.DetailsText p a {
    color: #4F42C9 !important;
}


.DetailsReview {
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 50px;
    background-color: #E3ECFF;
    text-align: left !important;
}


.DetailsReview i {
    font-size: 32px;
    color: #4F42C9;
}

.DetailsReview h4 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    color: #101010;
    font-family: "Jost";
    margin-top: 10px;
}


.DetailsReview p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #101010;
    font-family: "Swiss 721", sans-serif;
}


.DetailsTags {
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 0px;
    text-align: left !important;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}

.DetailsTags ul {
    display: flex !important;
    align-items: center !important;
    padding: 0px;
    margin: 0px;
}

ul .TagsHeader {
    display: flex;
    align-items: center;
}


.TagsHeader h3 {
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    color: #4F42C9;
    font-family: "Swiss 721", sans-serif;
    text-transform: uppercase;
    margin: 0px;
}

.TagsHeader i {
    font-size: 25px;
    line-height: 32px;
    font-family: 600;
    color: #4F42C9;
    margin-right: 5px;
}


ul .TagLink {
    list-style: none;
}

.TagLink .TagItem {
    text-decoration: none;
    background-color: #E3ECFF !important;
    padding: 10px !important;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    color: #101010;
    font-family: "Swiss 721", sans-serif;
    margin-left: 16px !important;
    transition: all linear .2s;
}


.TagLink .TagItem:hover {
    background-color: #4F42C9 !important;
    color: #FFFFFF !important;
}


.SocialMedia {
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 0px 80px;
    border-bottom: 1px solid #383838;

}


.SocialMedia h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: #E3ECFF;
    font-family: "Jost";
    margin: 0px;
    margin-bottom: 30px;
}


.SocialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.SocialIcon .Icon {
    margin-right: 20px;
}


.BlogLink {
    width: 470px;
    border: 1px solid #E3ECFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.SocialMedia p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: #E3ECFF;
    font-family: "Spartan", sans-serif;
    margin: 0px;
}

.SocialMedia i {
    font-size: 25px;
    line-height: 32px;
    font-weight: 500;
    color: #4F42C9;
    margin-left: 5px;
}