.WhatWeDo {
    position: relative;
    padding: 100px 0px;
}


.WhatWeDoImage {
    position: relative;
    max-height: 600px;
}


.WhatWeDoImage .StudieButton {
    background-color: #4F42C9;
    padding: 20px 25px;
    border: 0px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: "Swiss 721", sans-serif;
    font-weight: 400;
    display: flex;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -25px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
}


.StudieButton i {
    margin-right: 10px;
}

.StudieButton p {
    margin: 0px !important;
    padding: 0px !important;
}


.leftShap {
    background-color: #4F2416;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    filter: blur(200px);
    position: absolute;
    left: -260px;
    top: 160px;
}


.WhatWeDo h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #8A81DB;
    line-height: 26.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.WhatWeDo h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    line-height: 88px;
    letter-spacing: -1%;
    text-transform: capitalize;
    width: 820px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.imgShap {
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: 3;
}

.mainImag {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImag img {
    border-radius: 24px;
    z-index: 2;
}




.WhatWeDoAccordion .Accordion {
    background-color: transparent !important;
}


.WhatWeDoAccordion .Accordion .Title button {
    margin-bottom: 30px !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 50px !important;
    padding: 30px 40px !important;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Swiss 721", sans-serif;
}


.WhatWeDoAccordion .Accordion .Title button:focus {
    box-shadow: none !important;
}


.Accordion .AccordionBody {
    padding: 0px !important;
    margin-bottom: 40px !important;
    padding: 0px 30px !important;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    font-family: "Swiss 721", sans-serif;
}





@media only screen and (min-width: 770px) and (max-width: 1100px) {
    .WhatWeDoImage .StudieButton {
        width: 350px !important;
        bottom: 0px !important;
    }

    .WhatWeDoImage {
        height: 470px !important;
    }
}




@media only screen and (min-width: 577px) and (max-width: 768px) {
    .WhatWeDo {
        padding: 40px 0px;
    }


    .WhatWeDoImage {
        height: 400px !important;
    }

    .WhatWeDoImage .StudieButton {
        width: 295px !important;
        bottom: 55px !important;
        padding: 20px 10px !important;
    }


    .WhatWeDoAccordion .Accordion .Title button {
        font-size: 16px !important;
        padding: 10px 20px !important;
        margin-bottom: 10px !important;
    }

    .imgShap {
        top: -13px !important;
    }

    .Accordion .AccordionBody {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 15px !important;
        padding: 0px 20px !important;
    }
}



@media only screen and (max-width: 576px) {
    .WhatWeDo {
        padding: 30px 0px;
    }

    .WhatWeDo h1 {
        width: auto !important;
        font-size: 32px;
        line-height: 35px;
        padding: 0px 20px;
        margin-top: 20px;
    }

    #WhatWeDoPart {
        flex-direction: column-reverse !important;
    }

    .WhatWeDoImage {
        margin-top: 50px !important;
    }

    .imgShap {
        top: -10px !important;
    }

    .mainImag img {
        width: 400px !important;
    }

    .WhatWeDoAccordion .Accordion .Title button {
        font-size: 18px !important;
        line-height: 19px !important;
        padding: 30px 40px !important;
        margin-bottom: 20px !important;
    }


    .WhatWeDoImage .StudieButton {
        padding: 20px 15px !important;
        width: 310px !important;
    }

}