.CaseStudies {
  padding: 50px 0px;
  position: relative;
}

.CaseStudiesPart {
  position: relative;
}

.CaseStudies h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Jost";
  text-align: left;
  color: #8a81db;
  line-height: 26.4px;
  margin-bottom: 20px;
}

.CaseStudies h1 {
  font-size: 80px;
  font-weight: 800;
  font-family: "Jost";
  text-align: left;
  color: #ffffff;
  line-height: 88px;
  letter-spacing: -1%;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.StudieSlideButton {
  display: flex;
  position: absolute;
  right: 0;
  top: 65px;
  justify-content: end;
}

.StudieSlideButton button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #4f42c9;
  border-radius: 50%;
  margin-right: 30px;
  border: none;
  transition: all linear 0.2s;
}

.StudieSlideButton button:hover {
  background-color: #4f42c9;
  color: #ffffff;
}

.StudieSlideButton button i {
  font-size: 20px;
}

.StudieCarouselCard {
  cursor: pointer;
  position: relative;
  height: 400px;
}

.CaseStudiesPart .StudieButton {
  background-color: #4f42c9;
  padding: 15px 30px;
  border-radius: 50px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Swiss 721", sans-serif;
  font-weight: 400;
}

.StudieButton a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.StudieButton i {
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
}

@media only screen and (min-width: 770px) and (max-width: 1100px) {
  .StudieSlideButton button {
    margin-right: 20px;
  }

  .StudieCarouselCard {
    height: 280px !important;
  }

  .CaseStudiesPart .StudieButton {
    width: 220px !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .StudieSlideButton button {
    margin-right: 20px;
  }

  .StudieCarouselCard {
    height: 220px !important;
  }

  .CaseStudiesPart .StudieButton {
    width: 220px !important;
  }
}

@media only screen and (max-width: 576px) {
  .CaseStudies {
    padding: 50px 0px 0px !important;
  }

  .CaseStudies h1 {
    font-size: 32px;
    line-height: 35px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .CaseStudies h3 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 0px;
  }

  .StudieCarouselCard {
    height: 250px !important;
  }

  .StudieSlideButton {
    top: 35px;
    right: -15px;
  }

  .StudieSlideButton button {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .StudieSlideButton button i {
    font-size: 15px;
  }

  .CaseStudiesPart .StudieButton {
    width: 220px !important;
    bottom: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .StudieSlideButton button {
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }

  .StudieSlideButton {
    top: 45px;
    right: -10px;
  }
}
