.testimonials {
  margin: 100px 0px 250px 0px;
}

.testimonials h5 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #4f42c9;
}

.testimonials h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 40px;
}

.sliderDiv {
  border: 1px solid #4f42c9;
  padding: 40px;
  margin: 0px 20px;
  height: 340px;
}

.sliderDiv img {
  margin-bottom: 40px;
}

.sliderDiv p {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 170%;
  color: #ffffff;
  margin-bottom: 24px;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  margin-right: 20px;
  margin-bottom: 0px;
}

.avatarInfo {}

.avatarInfo p {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 2px;
}

.slickSliderButton {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border: 0px;
  outline: 0px;
  color: #333333;
  text-align: center;
  margin-right: 10px;
}

.slickSliderButton button i {
  font-size: 22px;
  color: #333333;
}

@media only screen and (max-width: 576px) {
  .testimonials {
    margin: 100px 0px 150px 0px;
  }

  .testimonials h5 {
    font-size: 20px;
    line-height: 120%;
  }

  .testimonials h1 {
    font-size: 32px;
    line-height: 120%;
  }

  .sliderDiv>img {
    margin-bottom: 40px;
    width: 100%;
  }

  .sliderDiv {
    margin: 0px 0px;
    height: 500px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .testimonials h1 {
    font-size: 64px;
    line-height: 120%;
  }

  .sliderDiv {
    height: 480px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sliderDiv {
    height: 420px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .sliderDiv {
    height: 380px;
  }
}