.macG {
  width: 956px;
  margin: 0 auto;
  padding: 100px 0px;
}

.macG>h4 {
  font-family: "Swiss 721", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4f42c9;
}

.macG>h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 50px;
}

.macGImage {
  text-align: center;
}

.macG>h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.macG>p {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px;
  line-height: 170%;
  text-transform: capitalize;
  color: #e3ecff;
  opacity: 0.8;
  margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
  .macG {
    padding: 50px 0px;
  }

  .macG>h4 {
    font-size: 14px;
  }

  .macG>h1 {
    font-size: 32px;
  }

  .macG>h2 {
    font-size: 24px;
  }

  .macG {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .macG {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .macG {
    width: 100%;
  }
}