.contactHero {
  margin: 100px 0px 50px 0px;
  background: url("/images/contact us/global-map 1.svg");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

.contactHero > h5 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #8a81db;
  margin-bottom: 20px;
}
.contactHero > h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  color: #e3ecff;
  margin-bottom: 60px;
}
.contactHero > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #e3ecff;
  padding: 0px 372px;
  margin-bottom: 50px;
}

.contactInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.contactCard {
  background: #e3ecff;
  border: 1px solid #f3f4f6;
  border-radius: 500px;
  padding: 36px 60px;
  display: flex;
  align-items: center;
}

.contactText {
  margin-left: 23px;
}

.contactText h5 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #101010;
}
.contactText p {
  font-family: "Swiss 721", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #101010;
  margin-bottom: 0px;
}

/* .contactHero::before {
  content: " ";
  position: absolute;
  width: 478px;
  height: 478px;
  left: -239px;
  top: 377px;
  background: #4f2416;
  filter: blur(250px);
  z-index: 1;
}

.contactHero::after {
  content: " ";
  position: absolute;
  width: 792px;
  height: 792px;
  right: 0px;
  top: 616px;
  background: #4f42c9;
  opacity: 0.5;
  filter: blur(250px);
} */

@media only screen and (max-width: 576px) {
  .contactHero {
    margin: 50px 0px 50px 0px;
    background: url("/images/contact us/global-map 1.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
  .contactHero > h5 {
    font-size: 14px;
  }
  .contactHero > h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .contactHero > p {
    padding: 0px 0px;
    font-size: 18px;
    line-height: 140%;
  }
  .contactInfo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .contactCard {
    padding: 10px 10px;
    justify-content: center;
  }
  .contactCard img {
    width: 14%;
  }
  .contactText h5 {
    font-size: 16px;
  }
  .contactText p {
    font-size: 14px;
  }

  .contactText {
    margin-left: 10px;
    /* width: 100%; */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contactHero > h1 {
    font-size: 64px;
  }
  .contactHero > p {
    padding: 0px 74px;

    margin-bottom: 50px;
  }
  .contactCard {
    padding: 10px 10px;
  }
  .contactCard img {
    width: 18%;
  }
  .contactText h5 {
    font-size: 16px;
  }
  .contactText p {
    font-size: 14px;
  }

  .contactText {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contactHero > h1 {
    font-size: 64px;
  }
  .contactHero > p {
    padding: 0px 187px;
    margin-bottom: 50px;
  }
  .contactCard {
    padding: 20px 20px;
  }
  .contactCard img {
    width: 24%;
  }
  .contactText h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .contactHero > p {
    padding: 0px 100px;
    margin-bottom: 50px;
  }
  .contactCard {
    padding: 20px 20px;
  }
}
